@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

img {
    width: 500px;
    height: fit-content;
    border-radius: 20px;
}

main {
    displaY: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(225, 231, 216);
    font-family: 'Roboto', sans-serif;
}

.container-display {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}